<log4net debug="true" >

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="Log/Log.txt"/>
    <threshold value="INFO"><levelMin value="DEBUG" />
      <levelMax value="FATAL" /></threshold>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
  </root>
  <logger name="MonitoringLogger">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
    <appender-ref ref="DatabaseAppender"/>
    <appender-ref ref="AspNetTraceAppender"/>
    <appender-ref ref="EventLogAppender"/>
  </logger>
  <logger name="ExceptionLogger">
    <level value="ERROR"/>
    <appender-ref ref="SmtpAppender"/>
    <appender-ref ref="RollingFile"/>
  </logger>
</log4net>
